/* This styles the whole page */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
    background-color: #706f6b;
}

/* Style for the main title */
h1 {
    color: #000305;
    text-align: center;
}

/* Style for paragraphs */
p {
    font-size: 18px;
    line-height: 1.6;
}

main {
    max-width: 900px;
    margin: 40px auto;
    padding: 0 20px;
}


/* Style for the image */
img {
    width: 100%;
    max-width: 800px;
    display: block;
    margin: 20px auto; /* centers the image */
    border-radius: 10px;
}

/* Footer style */
footer {
    text-align: center;
    margin-top: 50px;
    color: #777;
}

/* NAVBAR STYLING */
nav {
    background-color: #2c3e50;
    padding: 10px 0;
    position: sticky;
    top: 0;
    z-index: 1000;
}

.navbar {
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 40px;
    margin: 0;
    padding: 0;
}

.navbar li a {
    color: white;
    text-decoration: none;
    font-size: 18px;
    font-weight: bold;
    transition: 0.3s;
}

/* Hover effect */
.navbar li a:hover,
.navbar li a.active {
    color: #51bfd3;
}


/* Hero Banner */
.hero {
    background-image: url('images/jungle.jpg');
    background-size: cover;
    background-position: center;
    padding: 120px 20px;
    text-align: center;
    color: white;
}

.hero h1 {
    font-size: 48px;
    margin-bottom: 10px;
}

.hero p {
    font-size: 20px;
}

/* About section styling */
.about-section {
    max-width: 800px;
    margin: 40px auto;
    padding: 0 20px;
}

.about-section h2 {
    color: #2c3e50;
    margin-bottom: 10px;
}

.about-section p {
    font-size: 18px;
    line-height: 1.6;
}

/* me.jpeg styling */
.about-photo img {
    width: 200px;
    height: 200px;
    object-fit: cover;
    border-radius: 50%;
    display: block;
    margin: 20px auto;
    box-shadow: 0 4px 10px rgba(0,0,0,0.3);
}

/* Projects.html styling */
.projects-container {
    max-width: 1100px;
    margin: 60px auto;
    padding: 0 20px;

    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    justify-content: center;
}

.project-card {
    background-color: white;
    padding: 20px;
    width: 300px;
    min-height: 150px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.2);

    text-align: center;
    transition: transform 0.3s;
}

.project-card:hover {
    transform: translateY(-5px);
}

.project-list li a:hover, 
.project-list li a:active {
    color:#51bfd3;
}

.project-list {
    list-style: none;
    text-align: left;
    padding: 0;
    margin: 0;
}

.project-list li a {
    color: #2c3e50;
    text-decoration: none;
    font-size: 18px;
    font-weight: bold;
    transition: 0.3s;
}

.project-list li {
    margin-bottom: 10px;
}


